<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/inicio"
        text="Volver"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/img/logo.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>contactanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Contactanos</ion-card-subtitle>
      <ion-card-title>si tienes dudas o consultas no dudes en contactarnos</ion-card-title>
    </ion-card-header>

    <ion-card-content text-color="primary">
     Somos un grupo de personas honestas y en caso de ayuda o problemas no dudes en contactarnos
    </ion-card-content>
    <br>
    <br>
  </ion-card>
<br>
<br>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Redes sociales</ion-card-subtitle>
    <ion-card-title>Estas son las redes sociales para que te mantegas en contacto</ion-card-title>
  </ion-card-header>

  <ion-card-content text-color="primary">
   Somos un grupo de personas honestas y en caso de ayuda o problemas no dudes en contactarnos
  </ion-card-content>
  <a href="https://www.google.com/search?client=opera-gx&q=redes+sociales&sourceid=opera&ie=UTF-8&oe=UTF-8"> <ion-img src="/assets/img/redes.jpg"></ion-img></a>
  <br>
  <br>
</ion-card>
</ion-content>
